<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="jedisPool" class="redis.clients.jedis.JedisPool">
		<constructor-arg index="0">
			<bean class="redis.clients.jedis.JedisPoolConfig">
				<property name="lifo" value="${redis.lifo}" />
				<property name="maxIdle" value="${redis.max.idle}" />
				<property name="minIdle" value="${redis.min.idle}" />
				<property name="maxTotal" value="${redis.max.total}" />
				<property name="testOnBorrow" value="${redis.test.on.borrow}" />
				<property name="testWhileIdle" value="${redis.test.while.idle}" />
				<property name="maxWaitMillis" value="${redis.max.wait.millis}" />
				<property name="blockWhenExhausted" value="${redis.block.when.exhausted}" />
				<property name="numTestsPerEvictionRun" value="${redis.num.tests.per.eviction.run}" />
				<property name="minEvictableIdleTimeMillis" value="${redis.min.evictable.idle.time.millis}" />
				<property name="timeBetweenEvictionRunsMillis" value="${redis.time.between.eviction.runs.millis}" />
				<property name="softMinEvictableIdleTimeMillis" value="${redis.soft.min.evictable.idle.time.millis}" />
			</bean>
		</constructor-arg>
		<constructor-arg index="1" value="${redis.host}" />
		<constructor-arg index="2" value="${redis.port}" type="int" />
		<constructor-arg index="3" value="${redis.conn.timeout.millis}" type="int" />
		<constructor-arg index="4">${redis.password}</constructor-arg>
	</bean>

	<bean id="redisOperate" class="org.zimo.redis.operate.RedisOperate">
		<property name="pool" ref="jedisPool" />
	</bean>
 
	<bean id="luaCache" class="org.zimo.redis.operate.lua.LuaCache">
		<constructor-arg index="0" value="classpath:lua" />
	</bean>
	
	<bean id="luaOperate" class="org.zimo.app.qydj.storage.redis.QydjLuaOperate">
		<property name="luaCache" ref="luaCache" />
		<property name="redisOperate" ref="redisOperate" />
	</bean>

	<bean id="distributeLock" class="org.zimo.redis.operate.lock.DistributeLock">
		<property name="redisOperate" ref="redisOperate" />
		<property name="luaOperate" ref="luaOperate" />
		<property name="lockTimeout" value="${redis.lock.timeout}" />
	</bean>
</beans>